.iconClass img {
 /* list-style: none; */
 width:30px ;
}

.iconClass{
  text-align: center;
  font-size: 8px;
  /* font-weight: bolder; */

}

.iconClass h2{
  font-size:8px ;
  font-weight: 500;
  margin-top: 10px;
  font-weight: 700;
}

.adm-grid{
  margin-top: 15px;
}