.home .iconfont{
    font-size: 20px;
}

.home .am-tab-bar-bar{
    position: fixed;
    bottom: 0;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  position: relative;
  overflow-y:auto;

}

.top {
  flex: 0;
  border-bottom: solid 1px var(--adm-border-color);
}
.body {
  flex: 1;
  display: flex;
  flex-direction:column;
  justify-content:space-between;
  /* align-items: center; */
  background-color: rgba(243,243,243);
  
}
.bottom {
  flex: 0;
  border-top: solid 1px var(--adm-border-color);
  position: fixed;
  bottom:0px;
  width: 100%;
  height: auto;
  /* transform: translateZ(0);
  -webkit-transform: translateZ(0); */
  /* overflow-y:scroll; */
}
.adm-tab-bar-item-icon .iconClass{
  font-size: 22px;
}

.adm-tab-bar-wrap .adm-tab-bar-item {
padding: 0px 0px;
background-color: #ffffff;
}

.tabBar{
  display: flex;
  width: 100%;
  position:absolute;
  top:-50px;
}

.tabBar .adm-tab-bar-wrap{
  width: 100%;
}