.content {
  height: 120px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  user-select: none;
}

.spaceWrapper{
  position: relative;
  width: 100%;
  background-color: rgb(224,224,224,0.4);
  /* overflow-y: scroll; */
}

.homeWrapper{
  width: 100%;
  gap:0px !important ;
  margin-top: 30px;
}

.homeWrapper .ant-space-item .adm-card{
  background-image:linear-gradient(rgba(0, 234, 255, 0.966), rgba(0, 234, 255, 0.102));
}
.searchTab{
  position: fixed;
  top:0px;
}