.content {
  height: 120px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  user-select: none;
}

.spaceWrapper{
  width: 100%;
  background-color: rgb(224,224,224,0.4);
}