.tabClass{
  background-color: #ffff;
  /* position: sticky;
  position: -webkit-sticky;
  top: 100px; */
  overflow:none !important;
  position: static;
}

.tabClass .adm-tabs-header{
  position: sticky;
  z-index: 1000;
  top:50px;
  background-color: rgb(255, 255, 255);

}

.tabClass .adm-tabs-content{
  background-color: rgb(255, 255, 255);
}